{% extends 'base/main.html' %}

{% block content %}



    <table>
        <tr>
            <th>Learned</th>
            <th>English</th>
            <th>Ukrainian</th>
            <th>Click to take examples</th>
        </tr>
        {% for word in words %}
            <tr>
                {% if word.complete %}
                    <td>Yes</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td>{{ word.english }}</td>
                <td>{{ word.ukrainian }}</td>
                <td><a href="{% url 'word' word.id %}">Examples</a></td>
                <td><a href="{% url 'word-update' word.id %}">Edit</a></td>
                <td><a href="{% url 'word-delete' word.id %}">Delete</a></td>
            </tr>
        {% empty %}
            <tr>
                <td>No words</td>
            </tr>
        {% endfor %}
        <tr>
            <th>
                <a href="{% url 'word-create' %}">Add Word</a>
            </th>
        </tr>

    </table>

{% endblock content %}

